name: Deploy React App to EC2 with Nginx

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build React app
      run: npm run build

    - name: Copy build to Nginx folder
      run: |
        sudo rm -rf /var/www/html/*
        sudo cp -r build/* /var/www/html/
        sudo systemctl restart nginx
